
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <h4>Hello, world!</h4>

        <div class="row">


            <div class="col-md-12" style="background-color: #ffffff;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                
                <div class="row">
                    <div class="col-md-12" style="background-color: #dedef8;  box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                        
                            第二列 - 分为四个盒子.
                        
                    </div>
                    
                </div>
                <div class="row">
                    <!--background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;-->
                    <div class="col-md-4" style="background-color: #f5e5e5; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

                        sed do eiusmod tempor incididunt ut labore et dolore magna   aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        

                    </div>
                    <div class="col-md-8" style="background-color: #f5e5e5; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444; ">

                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation23


                    </div>
                </div>



            </div>

        </div>

    </div>


    <div class="container">

        <h1>Hello, world!</h1>

        <div class="row">
            <p>排序前</p>
            <div class="col-md-4" style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd
                我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd
            </div>
            <div class="col-md-8" style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                我在右边
            </div>
        </div><br>
        <div class="row">
            <p>排序后</p>
            <div class="col-md-4 col-md-push-8"
                 style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444,
         inset -1px 1px 1px #444;">
                我在左边
            </div>
            <div class="col-md-8 col-md-pull-4"
                 style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444,
         inset -1px 1px 1px #444;">
                我在右边
            </div>
        </div>

    </div>
</body>
</html>
