
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="~/HuiAdmin/lib/zTreev3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <script src="~/HuiAdmin/lib/zTreev3/js/jquery.ztree.core.min.js"></script>

</head>
<body>

    <div class="container">

        <h4>Hello, world!</h4>

        <div class="row">


            <div class="col-md-12" style="background-color: #ffffff;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

                <div class="row">
                    <div class="col-md-12" style="background-color: #dedef8;  box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

                        第二列 - 分为四个盒子.

                    </div>

                </div>
                <div class="row">
                    <!--background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;-->
                    <div class="col-md-4" style="background-color: #f5e5e5; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

                        <ul id="treeDemo" class="ztree"></ul>
                        <ul id="treeDemo2" class="ztree"></ul>
                        <ul id="treeDemo3" class="ztree"></ul>
                    </div>
                    <div class="col-md-8" style="background-color: #f5e5e5; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444; ">

                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation23


                    </div>
                </div>



            </div>

        </div>

    </div>


    <div class="container">

        <h5>Hello, world!</h5>

        <div class="row">
            <p>排序前</p>
            <div class="col-md-4" style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd
                我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd我在左边adadasdasd
            </div>
            <div class="col-md-8" style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                我在右边
            </div>
        </div><br>
        <div class="row">
            <p>排序后</p>
            <div class="col-md-4 col-md-push-8"
                 style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444,
         inset -1px 1px 1px #444;">
                我在左边
            </div>
            <div class="col-md-8 col-md-pull-4"
                 style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444,
         inset -1px 1px 1px #444;">
                我在右边
            </div>
        </div>

    </div>

    <SCRIPT>
        var zTreeObj;
        // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
        var setting = {};
        // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
        var zNodes = [
            {
                name: "test1", open: true, children: [
                    { name: "test1_1" }, { name: "test1_2" }]
            },
            {
                name: "test2", open: true, children: [
                    { name: "test2_1" }, { name: "test2_2" }]
            }
        ];
        $(document).ready(function () {
            zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });
    </SCRIPT>

   <script>
       //定义接收节点数据的变量
       var zNodes2;
       //节点配置信息
       var setting2 = {
           data: {
               //控制子节点加载时候是加载还是折叠
               simpleData: {
                   enable: true
               }
           }
       };
       $(function () {

           var dd = [
               { id: 1, pId: 0, iconOpen: null, conClose: null, open: false, isParent: true, name: "首页        ", icon: null }
               , { id: 2, pId: 0, iconOpen: null, iconClose: null, open: false, isParent: true, name: "攻略", icon: null }
               , { id: 3, pId: 2, iconOpen: null, iconClose: null, open: false, isParent: false, name: "王者攻略 ", icon: null }
               , { id: 4, pId: 2, iconOpen: null, iconClose: null, open: false, isParent: false, name: "王者攻略2 ", icon: null }
           ];
           //获取访问方法获取节点数据
           $.getJSON('/Menu/GetjsonDb', function (res) {
           // $.get('/Menu/GetjsonDb', function (res) {
               zNodes2 = res;
               console.log(res);
               console.log(zNodes2);
               //初始化树节点
               $.fn.zTree.init($("#treeDemo2"), setting2, zNodes2);
               //$.fn.zTree.init($("#treeDemo"), setting2, dd);
           })
       });
   </script>
    <script>
        //https://pythonjishu.com/fwhsfqpucuktbda/
        //https://blog.csdn.net/zouzoutingtinging/article/details/79212175
        //https://blog.csdn.net/qq_26312205/article/details/107718641

        //https://www.cnblogs.com/puke/archive/2012/08/10/2631513.html 
        var setting = {
            async: {
                enable: true, //异步加载开关
                url: "getNodes", //异步加载的URL地址
                autoParam: ["id"], //异步加载需要传入的参数，默认是id
                dataFilter: filter //数据预处理函数
            }
        };

        function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i = 0, l = childNodes.length; i < l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }
        $(document).ready(function () {
            //配置树状结构
            $.fn.zTree.init($("#treeDemo3"), setting);
        });
    </script>
</body>
</html>
