
@{
    Layout = null;
}
@model IEnumerable<WebApplicationWZH.Models.ViewButtonPermissionList>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        Welcome<br />
        https://blog.csdn.net/sD7O95O/article/details/94364149 <br />
        https://cloud.tencent.com/developer/article/1351154 <br />
        https://zhuanlan.zhihu.com/p/374993109 <br />
        https://www.cnblogs.com/puzi0315/p/13557251.html  <br />
    </div>
    <hr />
    @{
        var find = (from p in Model where p.ButtonID == "1" select p).ToList();
        string x = (from p in Model where p.ButtonID == "1" select p).Count() == 0 || (from p in Model where p.ButtonID == "1" select p).ToList()[0].Permission == false ? "disabled" : "";


    }
    <!--
        方法1：
    <button id="bt1" @@Html.Raw((from p in Model where p.ButtonID == "bt1" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt1" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />
    <button id="bt2" @@Html.Raw((from p in Model where p.ButtonID == "bt2" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt2" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />
    <button id="bt3" @@Html.Raw((from p in Model where p.ButtonID == "bt3" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt3" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />
    <button id="bt4" @@Html.Raw((from p in Model where p.ButtonID == "bt4" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt4" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />
    <button id="bt5" @@Html.Raw((from p in Model where p.ButtonID == "bt5" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt5" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />

    -->
    <button id="bt1">bt1</button> <br />
    <button id="bt2">bt2</button> <br />
    <button id="bt3">bt3</button> <br />
    <button id="bt4">bt4</button> <br />
    <button id="bt5">bt5</button> <br />
    <button id="bt6">bt6</button> <br />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

        var buttonPermissionListsJson = '@Html.Raw(@ViewBag.buttonPermissionListsJson)';

        setTimeout(function () {
            check();
        }, 1000);

        function GetObj() {

            let o = [{
                "ButtonID": "bt1",
                "Permission": false
            }, {
                "ButtonID": "bt2",
                "Permission": true
            }, {
                "ButtonID": "bt3",
                "Permission": false
            }, {
                "ButtonID": "bt4",
                "Permission": true
            }, {
                "ButtonID": "bt5",
                "Permission": false
            }, {
                "ButtonID": "bt6",
                "Permission": true
                }];
            return o;
        }

        function check() {
            let json = '@Html.Raw(@ViewBag.buttonPermissionListsJson)';
            if (json == null || json == undefined || json == "") {
                return;
            }
            let obj = JSON.parse(json);
            if (obj == null || obj == undefined ) {
                return;
            }
            //let obj = GetObj();
            for (let i = 0; i < obj.length; i++) {
                //for (let j in obj[i]) {
                //    console.log(j + ":" + json1[i][j])
                //}

                //const button = document.getElementById(obj[i].ButtonID).disabled = obj[i].Permission;

            }
            obj.forEach((item) => {
               // console.log(item.ButtonID, item.Permission);
                //document.getElementById(item.ButtonID).disabled = item.Permission;
            });

            for (const item of obj) {
                console.log(item.ButtonID, item.Permission);
                //document.getElementById(item.ButtonID).disabled = item.Permission;
                //document.getElementById(item.ButtonID).style.display = item.Permission ? "block" : "none";
                let display = document.getElementById(item.ButtonID).style.display;
                //document.getElementById(item.ButtonID).style.display = item.Permission ? display: "none";
                document.getElementById(item.ButtonID).disabled = item.Permission;
            }
        }

        function xx() {
            //那么JSON数组如何遍历呢，如下：

            var json1 = [{ 'name': 'echo', 'age': '25' }, { 'name': '时间跳跃', 'age': '26' }, { 'name': '听风是风', 'age': '19' }]

            for (var i = 0; i < json1.length; i++) {
                for (var j in json1[i]) {
                    console.log(j + ":" + json1[i][j])
                }
            }

        }
    </script>
</body>
</html>
