
@{
    Layout = null;
}
@model IEnumerable<WebApplicationWZH.Models.ButtonPermission>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        Welcome<br />
        https://blog.csdn.net/sD7O95O/article/details/94364149 <br />
        https://cloud.tencent.com/developer/article/1351154 <br />
        https://zhuanlan.zhihu.com/p/374993109 <br />
        https://www.cnblogs.com/puzi0315/p/13557251.html  <br />
        Tid
        Name
        Url
        ParentTid
        OrderRule
        Leve
        lClass
        IsActive
    </div>
    <hr />
    <!--
        方法1：
    <button id="bt1" @@Html.Raw((from p in Model where p.ButtonID == "bt1" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt1" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />
    <button id="bt2" @@Html.Raw((from p in Model where p.ButtonID == "bt2" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt2" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />
    <button id="bt3" @@Html.Raw((from p in Model where p.ButtonID == "bt3" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt3" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />
    <button id="bt4" @@Html.Raw((from p in Model where p.ButtonID == "bt4" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt4" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />
    <button id="bt5" @@Html.Raw((from p in Model where p.ButtonID == "bt5" select p).Count() == 0  || (from p in Model where p.ButtonID == "bt5" select p).ToList()[0].Permission == false ? "disabled" : "")>bt1</button> <br />

    -->
    <button id="bt1">bt1</button>
    <button id="bt2">bt2</button>
    <button id="bt3">bt3</button>
    <button id="bt4">bt4</button>
    <button id="bt5">bt5</button>
    <button id="bt6">bt6</button>
    <button id="bt7">bt7</button>
    <button id="bt8">bt8</button>
    <button id="bt9">bt9</button>
    <input type="button" id="bt10" value="bt10"/>
    <button id="bt11">bt11</button>

    <hr />
    Input Text:<input type="text" id="t1" name="t1" /><br />
    button Text:<button id="bt11">bt11</button> <br />
    Select:
    <select id="s1" name="s2">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select> <br />
    <a id="a1" href="https://www.baidu.com/?tn=62095104_26_oem_dg"> 超链接</a>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/buttonPermission.js?v=1.234"></script>
    <script>

        window.onload = function () {
            return;
            var obj1 = document.getElementById("t1");
            alert("obj1的类型是:" + obj1.nodeName);
            var obj2 = document.getElementById("s1");
            alert("obj2的类型是:" + obj2.nodeName);
            var obj3 = document.getElementById("bt11");
            alert("obj3的类型是:" + obj3.nodeName);
            var obj4 = document.getElementById("a10");
            alert("obj4的类型是:" + obj4.nodeName);
        }

        //httpss://blog.51cto.com/u_16213353/7001827
        //const element = document.getElementById('bt10');
        //const attributeValue = element.getAttribute('data-id');
        //console.log(attributeValue);

        var buttonPermissionListsJson = '@Html.Raw(@ViewBag.buttonPermissionListsJson)';

        setTimeout(function () {
            //check22();
            //let a = document.getElementById("bt1");
            //alert(a);
            //console.log(a);
        }, 2000);

        setTimeout(function () {
            //check2();
        }, 3000);

        setTimeout(function () {

            //const currentLocation = window.location;
            //console.log(currentLocation);
            //alert(currentLocation.pathname);
        }, 30000);

        function GetObj() {

            let o = [{
                "ButtonID": "bt1",
                "Permission": false
            }, {
                "ButtonID": "bt2",
                "Permission": true
            }, {
                "ButtonID": "bt3",
                "Permission": false
            }, {
                "ButtonID": "bt4",
                "Permission": true
            }, {
                "ButtonID": "bt5",
                "Permission": false
            }, {
                "ButtonID": "bt6",
                "Permission": true
                }];
            return o;
        }

        function check22() {
            let json = '@Html.Raw(@ViewBag.buttonPermissionListsJson)';
            if (json == null || json == undefined || json == "") {
                return;
            }
            let obj = JSON.parse(json);
            if (obj == null || obj == undefined ) {
                return;
            }
            //let obj = GetObj();
            for (let i = 0; i < obj.length; i++) {
                //for (let j in obj[i]) {
                //    console.log(j + ":" + json1[i][j])
                //}

                //const button = document.getElementById(obj[i].ButtonID).disabled = obj[i].Permission;

            }
            obj.forEach((item) => {
               // console.log(item.ButtonID, item.Permission);
                //document.getElementById(item.ButtonID).disabled = item.Permission;
            });

            for (const item of obj) {
                console.log(item.ButtonID, item.Permission);
                //document.getElementById(item.ButtonID).disabled = item.Permission;
                //document.getElementById(item.ButtonID).style.display = item.Permission ? "block" : "none";
                let display = document.getElementById(item.ButtonID).style.display;
                //document.getElementById(item.ButtonID).style.display = item.Permission ? display: "none";
                document.getElementById(item.ButtonID).disabled = item.Permission;
            }
        }

        function check2() {
            const pathname = window.location.pathname;

            var xhr = null;
            try {
                xhr = new XMLHttpRequest();
            } catch (error) {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
            //2、调用open
            xhr.open("get", "/home/GetbuttonPermissionList?pathname=" + pathname, true);
            //3、调用send
            xhr.send();
            //4、等待数据响应
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    //判断本次下载的状态码都是多少
                    if (xhr.status == 200) {
                        //alert(xhr.responseText);
                        console.log(xhr);

                        let obj = JSON.parse(xhr.responseText);
                        if (obj == null || obj == undefined) {
                            return;
                        }
                        for (const item of obj) {
                            console.log(item.ButtonID, item.Permission);
                            //document.getElementById(item.ButtonID).disabled = item.Permission;
                            //document.getElementById(item.ButtonID).style.display = item.Permission ? "block" : "none";
                            //let display = document.getElementById(item.ButtonID).style.display;
                            //document.getElementById(item.ButtonID).style.display = item.Permission ? display: "none";
                            document.getElementById(item.ButtonID).disabled = item.Permission;
                        }

                    } else {
                        alert("Error:" + xhr.status);
                    }
                }
            }

        }
        function xx() {
            //那么JSON数组如何遍历呢，如下：

            var json1 = [{ 'name': 'echo', 'age': '25' }, { 'name': '时间跳跃', 'age': '26' }, { 'name': '听风是风', 'age': '19' }]

            for (var i = 0; i < json1.length; i++) {
                for (var j in json1[i]) {
                    console.log(j + ":" + json1[i][j])
                }
            }

        }
    </script>
</body>
</html>
