
@{
    Layout = null;
    //https://layui.dev/docs/2/table/
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- 引入 layui.css -->
    <link href="~/Scripts/layui/layui.css" rel="stylesheet" />

</head>
<body>
    <div>
        https://layui.dev/docs/2/table/
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- 引入 layui.js -->
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        // Usage
        layui.use(function () {
            var layer = layui.layer;
            // Welcome
            layer.msg('Hello World', { icon: 6 });
        });
    </script>
</body>
</html>